/* Tablet sizing*/
@media (min-width: 26.625rem) and (max-width:48rem){
  body{
    background-image: url(./assets/bg-main-tablet.png);
    background-repeat: no-repeat;
    background-position: top -16rem right -10rem;
  }

  header,footer{
    padding: 0 2rem;
  }

  header{
    padding-top: 4rem;
    background-image: url(./assets/bg-pattern-1.svg);
    background-repeat: no-repeat;
    background-position: top -3rem right -3rem;
  }

  .information{
    max-width: 32.5rem;
  }

  .information h1{
    font-size: 4rem;
  }

  .information p{
    font-size: 1.125rem;
  }

  main{
    padding: 0 2.2rem;
  }
  .main-background{
    padding: 0 4rem;
  }

  .mobile{
    width: 16.875rem;
    align-self: flex-start;
  }

  .premium-pricing{
    margin-right: -0.75rem;
    margin-top: -16rem;
    margin-bottom: -6rem;
    width: 25rem;
    align-self: flex-end;
  }

  footer{
    margin-top: 11.375rem;
    display: flex;
    justify-content: space-between;
  }

  .footer-data{
    width: 23rem;
    margin-bottom: 0;
  }

  .footer-data .email{
    display: inline;
  }

  .social-links{
    align-self: flex-end;
  }
}


/* Desktop */
@media (min-width: 48.0625rem){
  body{
    background-image: url(./assets/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-position: top -18rem right -8rem;
  }

  header,footer, main{
    padding: 3.875rem 10.375rem;
  }

  header{
    padding-top: 4rem;
    background-image: url(./assets/bg-pattern-1.svg);
    background-repeat: no-repeat;
    background-position: top -2.5rem right 0rem;
  }

  .title{
    margin-bottom: 7.9rem;
  }


  .information{
    margin-bottom: 16rem;
  }

  .information h1{
    font-size: 5.5rem;
  }

  .description{
    line-height: 2.125rem;
  }

  .information p{
    max-width: 51.5625rem;
    font-size: 1.25rem;
  }

  .main-background{
    background-position: top 1rem left 42%;
    padding: 0 6.375rem;
  }

  .mobile{
    align-self: flex-start;
    width: 19.5rem;
    margin-top: -15rem;
  }

  .premium-pricing{
    padding: 3.5rem;
    width: 27.875rem;
    align-self: flex-end;
    margin-top: -16rem;
    margin-bottom: -8rem;
  }

  .premium-header{
    font-size: 2.5rem;
  }
  .premium-para{
    font-size: 1.25rem;
  }
  

  footer{
    margin-top: 6.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer .title{
    margin-right: 1rem;
  }
  
  .footer-data{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .footer-text{
    width: 22.875rem;
  }

  .footer-data .email{
    display: inline;
  }
}