@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


:root{
  --dark-cyan: hsl(185,75%,39%);
  --very-dark-desat-blue: hsl(229, 23%, 23%);
  --dark-gray-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}
/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}

body{
  font-family: 'Kumbh Sans',sans-serif;
  font-size: 18px;
  background-color: var(--dark-cyan);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.bg-top{
  position: absolute;
  top: -50%;
  left: -20%;
}

.bg-bottom{
  position: absolute;
  bottom: -50%;
  right: -20%;
}

.container{
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  z-index: 2;
  width: 90%;
  max-width: 360px;
}

.background-img img{
  width: 100%;
  display: block;
}

.profile{
  margin: auto;
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: -55px;
}

.profile img{
  border-radius: 50%;
  border: 6px solid #fff;
}

.profile span{
  font-weight: 100;
  color: var(--dark-gray);
  padding-left:5px;
}

.profile h4{
  margin: 0.625rem ;
}

.profile p{
  font-weight: 400;
  font-size: 0.833rem;
  color: var(--dark-gray);
}

.profile__stats{
  
  margin: auto;
  color: var(--very-dark-desat-blue);
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 1.7rem ;
  border-top: 1px solid var(--dark-gray);
}

.data{
  display: block;
  color:var(--dark-gray);
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

/* Attribution links */
footer{
  text-align: center;
  margin-top: 5rem;
}

.attribution a{
  text-decoration: none;
  color: #fff;
}

.attribution a:hover{
  color: darkslateblue;
}

@media (min-width: 768px){
  .container{
    width: 360px;
  }
}
