@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
	--soft-orange: #e9ab53;
	--soft-red: #f15e50;
	--off-white: #fffdfa;
	--grayish-blue: #c5c6ce;
	--dark-grayish-blue: #5e607a;
	--very-dark-blue: #00001a;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

input,
button,
textarea,
select {
	font: inherit;
}

html {
	font-size: 15px;
	font-family: 'Inter', sans-serif;
}

body {
	position: relative;
	padding: 1.8667rem 1.0667rem;
}

h1 {
	line-height: 2.667rem;
	font-size: 2.7rem;
}

.flex-display {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.grid-display {
	display: grid;
}

.header {
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2.1333rem;
}

.header__icon img {
	width: 3rem;
	height: 1.8667rem;
}

.nav__list {
	display: none;
}

.nav__list a {
	color: var(--dark-grayish-blue);
	font-size: 1rem;
}

.nav__list a:is(:hover, :active) {
	color: var(--soft-red);
	transition: color 0.2s ease-in;
}

/* Hamburger open */

.hamburger-menu {
	cursor: pointer;
}

/* Hamburger close */

.hamburger-close {
	width: 2rem;
	height: 2rem;
	align-self: flex-end;
	margin-bottom: 4rem;
	cursor: pointer;
}

/* Js toggle */

.hidden {
	display: none;
}

/* Mobile nav bg */

.mobile-nav {
	align-items: flex-end;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.548);
}

/* Mobile nav main */

.active-display {
	padding: 1.8667rem 1.0667rem;
	align-items: flex-start;
	background-color: var(--off-white);
	width: 70%;
	height: 100%;
	font-size: 1.2rem;
}

.active-display a {
	cursor: pointer;
	color: var(--very-dark-blue);
}

.active-display a:is(:hover, :active) {
	color: var(--soft-red);
	transition: color 0.15s ease;
}

.mobile__list {
	display: flex;
	gap: 1.6rem;
	flex-direction: column;
}

/* Main container */
.main-desktop {
	display: none;
}

.button {
	cursor: pointer;
	font-weight: 700;
	background-color: var(--soft-red);
	color: var(--off-white);
	border: none;
	text-transform: uppercase;
	width: 12.333rem;
	height: 3.2rem;
	letter-spacing: 0.333rem;
}

.button:is(:hover, :active) {
	background-color: var(--very-dark-blue);
	transition: background-color 0.2s ease-in;
}
.main__future {
	line-height: 1.5rem;
	gap: 1.1rem;
	color: var(--dark-grayish-blue);
	margin-bottom: 4.333rem;
}

.main__future picture,
.main__future p {
	margin-bottom: 0.6rem;
}

.sub-container {
	align-items: flex-start;
	gap: 1.1rem;
}

.main__future h1 {
	font-weight: 800;
	color: var(--very-dark-blue);
}

/* 2nd container highlights*/
.highlights {
	background-color: var(--very-dark-blue);
	color: var(--off-white);
	padding: 1.6rem 1.333rem;
	align-items: flex-start;
	gap: 2rem;
	margin-bottom: 4.2667rem;
}

.highlight {
	width: 100%;
	align-items: flex-start;
	border-bottom: 1px solid var(--dark-grayish-blue);
	gap: 0.5333rem;
	padding-bottom: 2rem;
	color: var(--grayish-blue);
	font-size: 1rem;
	line-height: 1.7333rem;
}

.highlight:last-of-type {
	border-bottom: none;
}

.highlights h1 {
	font-size: 2.133rem;
	color: var(--soft-orange);
}

.highlight h2 {
	cursor: pointer;
	font-size: 1.333rem;
	color: var(--off-white);
	font-weight: 800;
}

.highlight h2:is(:hover, :active) {
	color: var(--soft-orange);
	transition: color 0.1s ease-in;
}

/* Section 3 */

.bottom-containers {
	display: grid;
	gap: 2.2rem;
}

.self-container {
	display: grid;
	grid-template-columns: 6.667rem 14.6rem;
	gap: 1.6rem;
}

.self-container img {
	width: 8.4667rem;
	height: 8.5333rem;
}

.self-container__description {
	align-items: flex-start;
	gap: 0.6rem;
}

.self-container__description h2 {
	color: var(--grayish-blue);
	font-size: 2.133rem;
}

.self-container__description h3 {
	font-weight: 800;
	cursor: pointer;
	color: var(--very-dark-blue);
	font-size: 1.2rem;
}

.self-container__description h3:is(:hover, :active) {
	color: var(--soft-red);
	transition: color 0.1s ease-in;
}

.self-container__description p {
	color: var(--dark-grayish-blue);
	font-size: 1rem;
	line-height: 1.7334rem;
}

.footer {
	gap: 3rem;
}

.attribution {
	font-size: 1rem;
}

.attribution a {
	color: var(--soft-red);
}

.attribution a:is(:hover, :active) {
	border-bottom: 1px solid var(--soft-red);
}

@media (min-width: 48.125rem) {
	body {
		padding-top: 6rem;
	}

	.main-desktop {
		display: block;
	}

	.main-mobile {
		display: none;
	}

	.header,
	.main,
	.footer {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 73.333rem;
	}

	.header {
		margin-bottom: 3.6667rem;
	}

	.header__icon img {
		width: 4.2667rem;
		height: 2.667rem;
	}

	.hamburger-menu {
		display: none;
	}

	.nav__list {
		display: flex;
		font-size: 1rem;
		gap: 2.6667rem;
	}

	.main {
		display: grid;
		gap: 2rem;
		grid-template-columns: 48.667rem 23.333rem;
		margin-bottom: 4.6667rem;
	}

	.main__future {
		max-width: 48.6667rem;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 20rem 12.2rem;
		gap: 2rem;
		margin-bottom: 0;
	}

	.main__future picture {
		max-width: 48.6667rem;
		max-height: 20rem;
		margin-bottom: 0;
	}

	.main__future .section__image {
		grid-column: 1/3;
	}

	.main__future h1 {
		width: 23.333rem;
		font-size: 3.7333rem;
		line-height: 3.7333rem;
	}

	.main__future p {
		line-height: 1.7333rem;
	}

	.highlights {
		max-width: 23.33rem;
		margin-bottom: 0;
	}

	.highlights h1 {
		font-size: 2.6667rem;
	}

	.bottom-containers {
		grid-template-columns: repeat(3, 1fr);
	}
}
