@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
  --red : hsl(0, 100%, 74%);
  --green:  hsl(154, 59%, 51%);
  --blue : hsl(248, 32%, 49%);

  /* Neutral */
  --dark-blue : hsl(249, 10%, 26%);
  --grayish-blue : hsl(246, 25%, 77%);

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input,button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

html{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}

/* Body */

body{
  margin: 3rem auto;
  max-width: 90rem;
  padding: 1.5rem;
  background: url(./images/bg-intro-mobile.png);
  background-color: var(--red);
}


.intro{
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
}

.intro h1{
  padding: 2rem;
}

.trial{
  text-align: center;
  color: #fff;
  background-color: var(--blue);
  padding: 1.5rem 3rem;
  border-radius: 0.6rem;
  box-shadow: 0 8px 2px rgba(0,0,0,0.25);
  margin-bottom: 1.5rem;
}

.highlight{
  font-weight: 700;
}

.form{
  background-color: #fff;
  padding: 1.5rem 1.2rem;
  border-radius: 0.6rem;
  box-shadow: 0 10px 2px rgba(0,0,0,0.25);
  margin-bottom: 3rem;
}

.form-control{
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control input{
  width: 100%;
  padding: 1rem;
  border-radius: 0.3rem;
  border: 1px solid var(--grayish-blue);
}

::placeholder{
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 1rem;
}

.exclaim{
  position: absolute;
  top: 0.9rem;
  right: 1rem;
  visibility: hidden;
}

small{
  color: var(--red);
  position: absolute;
  right: 0;
  font-size: 0.8rem;
  visibility: hidden;
}

.btn-submit{
  border-radius: 0.3rem;
  font-weight: 700;
  width: 100%;
  color: #fff;
  background-color: var(--green);
  border: none;
  text-transform: uppercase;
  padding: 0.8rem;
  box-shadow: 0 4px 1px rgba(0,80,0,0.25);
  margin-bottom: 0.8rem;
}
.btn-submit:hover{
  background-color:hsla(154, 59%, 51%,0.7) ;
  cursor: pointer;
}

.terms{
  font-weight: 600;
  text-align: center;
  color: var(--grayish-blue);
  font-size: 0.8rem;
}

.terms .highlight{
  color: var(--red);
}

/* Error codes */

.form-control.error #email::placeholder{
  color: var(--red);
}

.form-control.error input{
  border-color: var(--red);
}

.form-control.error .exclaim{
  visibility: visible;
}

.form-control.error small{
  visibility: visible;
}

/* Footer */
footer{
  text-align: center;
}

.attribution a{
  font-weight: 600;
  color: var(--blue);
}

.attribution  a:hover{
  color: #fff;
}

@media(min-width: 36rem) and (max-width: 48rem){

  body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main{
    max-width: 31rem;
  }
}

@media(min-width: 48rem){
  body{
    background: url(./images/bg-intro-desktop.png) ;
    background-color: var(--red);
    min-height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .intro{
    padding-left: 4rem;
    margin: 0;
    align-self: center;
    justify-content: flex-start;
  }
  .intro h1{
    margin-bottom: 2rem;
    line-height: 1;
    padding: 0;
    text-align: start;
    font-size: 3.4rem;
  }
  .intro p{
    font-size: 1.1rem;
    text-align: start;
    padding-right: 2rem;
  }

.form-container{
  width: 90%;
  max-width: 36rem;
  justify-self: center;
  }

  footer{
    margin-top: 3rem;
  }
}