@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

/* Reset */
:root{
  --violet : hsl(257,40%, 49%);
  --soft-magenta : hsl(300,69%,71%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3, h4, h5, h6,button {
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}

html{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body{
  min-height: 100vh;
  padding: 2.2rem;
  background: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-color: var(--violet);
  max-width: 90rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main data */
.main-header{
  align-self: flex-start;
  margin-bottom: 3.5rem;
}

.header-img{
  width: 9rem;
}

.main{
  color: #fff;
  text-align: center;
  line-height: 1.6;
}

.body-img{
  margin-bottom: 4rem;
}

.main h1{
  margin-bottom: 1.5rem;
}

/* Button */
.btn-register{
  border: none;
  background-color: #fff;
  border-radius: 1.5rem;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  color: var(--violet);
  font-size: 0.9rem;
  margin: 1.5rem 0 ;
  padding: 0.5rem 0;
  width: 70%;
}

.btn-register:hover{
  background-color: var(--soft-magenta);
  color: #fff;
  cursor: pointer;
}

/* Media Links */

.social-links{
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.social-link{
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  margin: 0 0.2rem;
  width: 2.5rem;
  height:2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover{
  border-color: var(--soft-magenta);
  color: var(--soft-magenta);
}

.attribution{
  font-size: 0.9rem;
  text-align: center;
}
.attribution a{
  color: #fff;
}

.attribution a:hover{
  color: var(--soft-magenta);
}

@media(min-width:600px) and (max-width:960px){

  body{
    background: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--violet);
  }
  .body-img img{
    margin: auto;
  }

  .main h1{
    width: 80%;
    margin: auto;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .description{
    margin: auto;
    font-size: 1.1rem;
    width: 80%;
  }

  .btn-register{
    width: 40%;
    padding: 0.75rem;
  }
}

@media(min-width: 960px){
  body{
    margin: auto;
    background: url(./images/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--violet);
  }

  .header-img{
    margin-top: 2rem;
    width: 14rem;
  }
  .body-img{
    align-self: center;
    margin-bottom: 0rem;
    width: 100%;
  }

  .body-img img{
    width: 100%;
  }

  .main{
    margin: 3.2rem auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 2rem;
  }

  .text-container{
    text-align: start;
    /* align-self: center; */
    padding: 5rem 2.2rem;
  }

  .text-container h1{
    font-size: 2.2rem;
  }

  .btn-register{
    width: 40%;
    padding: 0.8rem;
    border-radius: 2rem;
  }

  .social-links{
    justify-content: flex-end;
    margin: 0 2rem;
    align-self: flex-end;
  }
  .social-link{
    margin: 0 0.6rem;
  }

  .attribution{
    font-size: 1.1rem;
  }

}