@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
	--hover-blue: #6c9bff;
	--very-dark-blue: #070439;
	--desat-blue: #585889;
	/* Accent */
	--bright-blue: #3065f8;
	--moderate-cyan: #3c9f8f;
	--error: #ef4877;

	/* Neutral */
	--light-grayish-blue: #f6f6fe;
	--light-gray: #bfbfbf;
	--para-gray: #615f7e;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

input,
button,
textarea,
select {
	font: inherit;
}
/* Headings, Call-to-actions, Header Navigation */
.submit-btn,
.nav {
	font-family: 'Raleway', sans-serif;
}

html {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}
/* Nav */

.nav {
	margin: 1.5rem 1.5rem 6.125rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--very-dark-blue);
}

/* Main logo */
.nav__logo {
	width: 5rem;
}

.nav__list {
	display: flex;
	gap: 1rem;
}

.nav__list li:hover {
	border-bottom: 1px solid var(--very-dark-blue);
	cursor: pointer;
}

/* -------------- Main container -------------------*/
header,
main {
	color: var(--very-dark-blue);
	text-align: center;
}

.top-header {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	padding: 0 1.6875rem;
}

.top-header p {
	font-size: 0.875rem;
	padding: 0 0.875rem;
}

.top-image img {
	width: 19rem;
	height: 14.0625rem;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.form label {
	position: relative;
}

.upper-form input,
.upper-form button {
	width: 19rem;
	height: 2.5rem;
	border-radius: 0.25rem;
}

.upper-form input {
	border: 1px solid var(--very-dark-blue);
	padding: 0 1.25rem;
}

.form input:focus {
	outline: 0;
}

.form button {
	font-weight: bold;
	font-size: 0.875rem;
}

.form input::placeholder {
	color: #c2c2c2;
	font-size: 0.75rem;
}

.form button {
	background-color: var(--bright-blue);
	color: #fff;
	border: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.form button:hover {
	cursor: pointer;
	opacity: 60%;
}

/* ----------------------- Error Message ------------------ */
.error-msg {
	color: var(--error);
	font-size: 0.75rem;
	position: absolute;
	bottom: -1rem;
	left: 0;
}

.hidden {
	display: none;
}

/* ------------------ Second Block ----------------------- */

main {
	margin-top: 5.625rem;
	position: relative;
	background-color: var(--light-grayish-blue);
	padding-bottom: 5.125rem;
}

.curve {
	position: absolute;
	top: -3.3rem;
}

.desktop-curve {
	display: none;
}

.information {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.45rem;
	padding: 0 1.6875rem;
}

.block-image {
	width: 20rem;
	height: 15rem;
	margin-bottom: 2.5rem;
}

.information__para {
	font-size: 0.875rem;
	color: var(--para-gray);
	line-height: 1.26rem;
}

.information__link {
	color: var(--moderate-cyan);
	padding-bottom: 0.25rem;
	border-bottom: 1px solid var(--moderate-cyan);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.25rem;
	font-size: 0.75rem;
	width: 8.125rem;
}

.information__link img {
	width: 0.9rem;
	height: 0.9rem;
}

.information__link:hover {
	cursor: pointer;
	opacity: 60%;
}

.information__user {
	width: 17.5rem;
	height: 11.25rem;
	padding: 1.25rem 0.9rem 1.25rem 1.5rem;
	text-align: start;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	line-height: 1.05rem;
	border-radius: 0.35rem;
	box-shadow: 0 0 8px 4px rgba(56, 56, 56, 0.04);
	background-color: #fff;
}

.information__user p {
	font-size: 0.68rem;
}

.quote img {
	width: 1rem;
	height: 1rem;
}

.user-info {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	text-align: start;
}

.user-image img {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}

.bold {
	font-size: 0.65rem;
	font-weight: 700;
}
.designation {
	font-size: 0.5rem;
	font-weight: 400;
	display: block;
}

/* ------------------- Early Access ------------------- */
.early-access {
	background-color: var(--desat-blue);
	color: #fff;
	text-align: center;
	padding: 3rem;
}

.early-access .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.early-access p {
	font-size: 0.875rem;
	line-height: 1.26rem;
}

.lower-form input,
.lower-form button {
	border-radius: 0.2rem;
	font-size: 0.625rem;
	border: none;
	width: 15rem;
	height: 2rem;
}

.lower-form input {
	padding: 0 0.5rem;
}

/* ------------------------- Footer -------------------------- */

footer {
	padding: 4rem 2.4375rem 2.625rem;
	background-color: var(--very-dark-blue);
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.footer-logo img {
	width: 6.5625rem;
	height: 2rem;
	filter: brightness(0)invert(1);
}

.grid-container {
	color: #fff;
	display: grid;
	gap: 1.5rem;
}

.contact-box {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.footer__flex-row {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 1rem;
}

.footer__flex-row img {
	width: 1rem;
	height: 1rem;
}

/* More info */

.more-info {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.more-info a {
	color: #fff;
	font-size: 0.875rem;
}

.more-info a:hover {
	color: var(--hover-blue);
}

/* Social icons */

.social-icons {
	display: flex;
	justify-content: center;
	gap: 0.75rem;
}

.social-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	width: 2rem;
	height: 2rem;
	border: 1px solid #fff;
	border-radius: 50%;
}

.social-icon:hover {
	border-color: var(--hover-blue);
	color: var(--hover-blue);
}
