@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root{
  --blue-primary : hsl(223, 87%, 63%);
  --pale-blue-sc : hsl(223, 100%, 88%);
  --light-red-sc : hsl(354, 100%, 66%);
  --gray : hsl(0, 0%, 59%);
  --very-dark-blue : hsl(209, 33%, 12%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
}

body{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
  
  margin: 60px 0;
  /* overflow: hidden; */
}

.container{
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.image-container{
  max-width: 100px;
  margin-bottom: 2rem;
}

.main-title{
  font-size: 1.6rem;
  color: var(--gray);
  margin-bottom: 1.2rem;
}

.highlight{
  font-weight: 700;
  color: var(--very-dark-blue);
}

.sub{
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 2rem;
}

form{
  margin-bottom: 4rem;
  width: 100%;
}

label{
  position: relative;
}

.form input{
  font-family: inherit;
  border-radius: 3rem;
  width: 100%;
  padding: 0.9rem 2rem;
  border: 1px solid var(--blue-primary);
}

::placeholder{
  color: var(--gray);
}

small{
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  position: absolute;
  bottom: -36px;
  left: 0;
  color: var(--light-red-sc);
  display: none;
}

.btn-submit{
  margin-top: 1rem;
  font-family: inherit;
  font-weight: 600;
  background-color: var(--blue-primary);
  width: 100%;
  display: block;
  color: #fff;
  padding: 0.9rem 2rem;
  text-align: center;
  border-radius: 3rem;
  border: none;
}

.btn-submit:hover{
  background-color: hsla(223, 87%, 63%,0.7);
  cursor: pointer;
}

.email-checker.error input{
  border-color: var(--light-red-sc);
  margin-bottom: 3rem;
}

.email-checker.error small{
  display: inline-block ;
}

.main-img-container{
  width: 110%;
  margin-bottom: 6rem;
}

.social-icon{
  color: var(--blue-primary);
  border: 1px solid hsla(0, 0%, 59%,0.3);
  border-radius: 50%;
  margin: 0 0.5rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons{
  display: flex;
}

.social-icon:hover{
  background-color: var(--blue-primary);
  color: #fff;
}

.copyright{
  margin-top: 1.5rem;
  color: var(--gray);
  font-size: 0.9rem;
}

/* Footer */

footer{
  width: 100%;
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
}

.attribution{
  text-align: center;
}

.attribution a{
  color: var(--blue-primary);
}

.attribution a:hover{
  color:blueviolet;
}


@media (min-width: 760px){
  .main-title{
    font-size: 2.5rem;
  }
  .sub{
    font-size: 1.1rem;
  }
  form{
    width: 60%;
    display: flex;
    align-items: flex-start;
  }
  label{
    width: 75%;
  }

  small{
    bottom: -20px;
    margin-left: 20px;
    text-align: start;
  }

  .form input{
    width: 100%;
  }

  #email{
    margin-bottom: 0;
  }

  .btn-submit{
    width: 25%;
    margin: 0 0 0 1rem;
    padding: 1rem 0;
  }

  .main-img-container{
    width: 60%;
    margin-bottom: 3rem;
  }

  .social-icon{
    width: 40px;
    height: 40px;
  }

}
