@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap';

:root {
	/* Primary */
	--dark-blue-body-bg: #1b2330;
	--dark-blue-intro-email: #1c2431;
	--dark-blue-main: #181f2a;
	--dark-blue-footer: #0b1523;
	--dark-blue-testimonials: #202a3c;

	/* Accent */
	--cyan: #65e2d9;
	--blue: #339ecc;
	--light-red: hsl(0, 100%, 63%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: #fff;
}

input,
button,
textarea,
select {
	font: inherit;
}

.flex-display {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.786rem;
}

html {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.button,
.nav-list li {
	font-family: 'Raleway', sans-serif;
}

.button {
	cursor: pointer;
	background: linear-gradient(to right, var(--cyan), var(--blue));
	color: #fff;
	border: none;
	height: 3.426rem;
	font-weight: 700;
	font-size: 1.1rem;
	border-radius: 1.7142rem;
	box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.button:is(:hover, :active) {
	background: linear-gradient(to right, #9eecf5, #44b7ec);
	transition: background 100s;
}

body {
	color: #fff;
	background-color: var(--dark-blue-body-bg);
}

/* Header */

.header {
	padding: 1.7142rem;
	margin-bottom: 25rem;
}

.header__nav {
	flex-direction: row;
	justify-content: space-between;
}

.header__logo {
	width: 5.7143rem;
	height: 1.7142rem;
}

.nav-list {
	flex-direction: row;
	font-size: 0.857rem;
}

.nav-list li {
	padding-bottom: 1px;
}

.nav-list li:hover {
	font-weight: 700;
	border-bottom: 1px solid #fff;
}

/* main -bg icon */

.desktop-bg {
	display: none;
}

.mobile-bg {
	position: absolute;
	top: -10rem;
	left: 0;
	right: 0;
}

/* Main - intro */

.mid-header {
	font-size: 1.7142rem;
}

.site-intro {
	position: absolute;
	top: -25rem;
	padding: 0 0.9rem;
	font-size: 1rem;
	gap: 1rem;
	text-align: center;
}

.site-intro p {
	line-height: 1.5rem;
}

.header-button {
	margin-top: 1.3rem;
	width: 17.143rem;
}

/* Main - info box */

.main {
	position: relative;
	background-color: var(--dark-blue-main);
	padding: 2rem;
	gap: 11.429rem;
}

.main__information {
	margin-top: 8rem;
	text-align: center;
	gap: 5.7143rem;
	display: grid;
	align-items: center;
	font-size: 1rem;
}

.information-icon {
	margin-bottom: 0.7142rem;
}

.information-box {
	gap: 1rem;
}

.info-header {
	font-size: 1.286rem;
}

.productive__link {
	cursor: pointer;
	color: var(--cyan);
	align-self: flex-start;
	flex-direction: row;
	gap: 0.5rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid var(--cyan);
}

.productive__link:is(:hover, :active) {
	outline: none;
	border-bottom: 1px solid #fff;
	color: #fff;
	transition: color 0.25s ease-in, border-bottom 0.25s ease-in;
}

.productive__link:is(:hover, :active) img {
	filter: saturate(0%);
	transition: filter 0.25s ease-in;
}

/* User box */

.quotes {
	width: 2.2857rem;
	height: 2.2857rem;
	position: absolute;
	top: -1.75rem;
	left: 0.5rem;
	z-index: 1;
}

.user-reviews {
	gap: 1.7143rem;
	position: relative;
	margin-bottom: 24.2857rem;
}

.user {
	justify-content: space-between;
	align-items: flex-start;
	gap: 1rem;
	padding: 1.7143rem 1.4286rem;
	font-size: 0.7143rem;
	width: 20rem;
	height: 11.426rem;
	background-color: var(--dark-blue-testimonials);
	border-radius: 0.2857rem;
}

.user:nth-of-type(1) {
	z-index: 2;
}

.user__info {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.user__icon {
	width: 1.7143rem;
	height: 1.7143rem;
	border-radius: 50%;
}

.user__info--id {
	gap: 0.2857rem;
	align-items: flex-start;
}

.user__name {
	font-weight: 700;
}

.user__designation {
	font-size: 0.5714rem;
}

/* Early Access  */

.early-access {
	position: absolute;
	bottom: -13rem;
	background-color: var(--dark-blue-body-bg);
	border-radius: 0.643rem;
	padding: 2.8571rem 2rem;
	text-align: center;
}

.early-access h2 {
	font-size: 1.2857rem;
}

.early-access p {
	margin-bottom: 1rem;
}
.early-access .button {
	width: 20rem;
}

.form {
	gap: 1.75rem;
}

.form .label {
	position: relative;
}

.form input {
	outline: none;
	color: var(--dark-blue-main);
}
.form ::placeholder {
	color: #c0c0c0;
}

.label small {
	position: absolute;
	left: 2rem;
	bottom: -1.25rem;
	font-weight: 700;
	color: var(--light-red);
}

.hidden {
	display: none;
}

.early-access input {
	box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, 0.16);
	border: none;
	border-radius: 1.7143rem;
	padding: 0 2rem;
	width: 20rem;
	height: 3.42857rem;
}

/* Error codes */

.label.error .error-msg {
	display: block;
}

.label.error input {
	border: 1px solid var(--light-red);
}

/* Footer */
.footer {
	font-size: 1.143rem;
	background-color: var(--dark-blue-footer);
	padding: 18.5rem 2rem 2rem;
	align-items: flex-start;
}

.main-footer {
	align-items: flex-start;
}

.footer__logo {
	margin-left: 0.5rem;
	width: 7.714rem;
	height: 2.2143rem;
}

.grid-container {
	display: grid;
	gap: 1rem;
}

.contact-box-1,
.contact-box-2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
}

.contact-flex {
	align-items: flex-start;
	flex-direction: row;
	gap: 1.5rem;
}

.location p {
	margin-left: 0.5rem;
}

.self-box {
	margin-top: 1.5rem;
	align-items: flex-start;
	gap: 1rem;
}

.self-box p:is(:hover, :active) {
	font-weight: 700;
	transition: font-weight 0.1s ease-in;
}

.social-icons {
	gap: 1rem;
	margin-top: 1.5rem;
	flex-direction: row;
	justify-content: center;
}

.social-icon {
	justify-content: center;
	width: 2.5rem;
	height: 2.5rem;
	border: 1px solid #fff;
	border-radius: 50%;
}

.social-icon:is(:hover, :active) {
	color: var(--cyan);
	border-color: var(--cyan);
	transition: color 0.25s ease-in, border-color 0.25s ease-in;
}

.attribution {
	text-align: center;
	align-self: center;
}

.attribution a {
	color: var(--cyan);
}

.attribution a:is(:hover, :active) {
	border-bottom: 1px solid var(--cyan);
	transition: border-bottom 0.25s ease-in;
}

/* Common */
@media (min-width: 26.875rem) {
	.header {
		padding-top: 3rem;
	}

	.mobile-bg {
		display: none;
	}

	.desktop-bg {
		z-index: -1;
		width: 100%;
		display: block;
		position: absolute;
		left: 0;
		right: 0;
	}

	.nav-list {
		font-size: 1.1429rem;
	}
	.header__logo {
		width: 8.5714rem;
		height: 3.7142rem;
	}

	.main__information {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.productive__box {
		align-items: flex-start;
		flex-direction: row;
	}

	.productive__description {
		align-items: flex-start;
	}

	.form {
		flex-direction: row;
	}
}

/* Tablet Sizes */
@media (min-width: 26.875rem) and (max-width: 48rem) {
	.header {
		margin-bottom: 30rem;
	}
	.productive__box picture {
		width: 38rem;
	}

	.site-intro {
		max-width: 45.7143rem;
	}

	.desktop-bg {
		display: block;
		position: absolute;
		top: -17rem;
		left: 0;
		right: 0;
	}

	.site-intro {
		top: -30rem;
	}

	.user-reviews {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.user:nth-of-type(3) {
		grid-column: 1/3;
		justify-self: center;
	}

	.form .button {
		width: 12.3rem;
	}
}

/* Desktop Sizes */

@media (min-width: 48.125rem) {
	body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.header {
		max-width: 91.429rem;
		width: 100%;
		margin-bottom: 75rem;
	}

	.header__logo {
		width: 12.5714rem;
		height: 3.7142rem;
	}

	.desktop-bg {
		top: -32rem;
	}

	.main,
	.footer {
		width: 100%;
	}

	.main {
		gap: 5rem;
		padding-top: 0;
	}

	.mid-header {
		font-size: 2.8571rem;
	}

	.site-intro {
		gap: 2.571rem;
		max-width: 52.428rem;
		top: -75rem;
	}
	.site-intro p {
		line-height: 2.15rem;
		max-width: 42.07rem;
		font-size: 1.43rem;
	}

	.site-intro .button {
		margin-top: 0;
	}

	.intro-illustration {
		width: 51.429rem;
	}

	.main__information {
		column-gap: 8rem;
		width: 100%;
		margin-top: 0;
		margin-bottom: 5rem;
		max-width: 62.86rem;
	}

	.info-header {
		font-size: 1.43rem;
	}

	.information-box {
		font-size: 1rem;
		justify-self: center;
	}

	.productive__description .info-header {
		font-size: 2.86rem;
		padding-right: 5rem;
	}

	.productive__box {
		align-items: center;
		gap: 4rem;
		max-width: 88.214rem;
	}

	.productive__description {
		font-size: 1.143rem;
		max-width: 40.3rem;
		height: 20.14rem;
	}

	.information-illustrations {
		width: 43.9rem;
		height: 33.14rems;
	}

	.user-reviews {
		margin-top: 8rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1;
	}

	.user {
		padding: 3rem 1.7143rem 1.7143rem;
		width: 100%;
		max-width: 25.714rem;
		height: 14.29rem;
	}

	.user__text {
		font-size: 1rem;
	}

	.early-access {
		max-width: 61.643rem;
		width: 100%;
		font-size: 1rem;
	}

	.early-access p {
		width: 100%;
		max-width: 48.07rem;
	}

	.early-access h2 {
		font-size: 2.29rem;
	}

	.early-access .form {
		max-width: 50.64rem;
		width: 100%;
	}

	.early-access input {
		width: 34.3rem;
	}

	.early-access .button {
		max-width: 20rem;
	}

	.footer__logo {
		margin-bottom: 1rem;
		margin-left: 0;
	}

	.main-footer {
		margin: 0 auto;
		max-width: 88.57rem;
		width: 100%;
	}

	.grid-container {
		grid-template-columns: 32% 23% 15% 15% 15%;
	}

	.self-box,
	.social-icons {
		margin-top: 0;
	}

	.contact-box-2 {
		display: flex;
		flex-direction: column;
		gap: 1.75rem;
	}

	.grid-container > * {
		justify-content: start;
		align-self: start;
	}

	.social-icons {
		justify-self: center;
	}

	.attribution {
		margin-top: 2rem;
		font-size: 1.25rem;
	}
}
