@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

/* Reset */

:root{
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red : hsl(0, 93%, 68%);
  --dark-grayish-red : hsl(0, 6%, 24%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a{
  text-decoration: none;
}

html{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

/* Body */

body{
  max-width: 90rem;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  min-height: 100vh;
}


header{
  padding: 2rem;
}

.header-image{
  width: 7rem;
}
.desktop-img{
  display: none;
}
.text-container{
  margin: 4rem auto;
  width: 86%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.big-header{
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing:8px;
  line-height: 1.1;
  margin-bottom: 1rem;
}

.highlight{
  font-weight: 300;
  color: var(--desaturated-red);
}

.text-container p{
  color: var(--desaturated-red);
  font-size: 0.9rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.form{
  width: 100%;
  position: relative;
}

form input{
  position: relative;
  width: 100%;
  font-size: 1.1rem;
  border: 1px solid var(--desaturated-red);
  border-radius: 1.5rem;
  padding: 0.75rem 1.5rem;
}

::placeholder{
  color: var(--desaturated-red);
}

small{
  margin:0.6rem 1.2rem;
  display: block;
  text-align: start;
  color: var(--soft-red);
  visibility: hidden;
}

.exclamation-icon{
  width: 1.4rem;
  position: absolute;
  top:0.75rem;
  right: 5rem;
  visibility: hidden;
}

.form-control.error input{
  border-color: var(--soft-red);
}

.form-control.error small,
.form-control.error .exclamation-icon{
  visibility: visible;
}

.form-control.success input{
  border-color: #2ecc71 ;
}

.submit-btn{
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding: 0.9rem 1.8rem;
  border-radius: 1.8rem;
  font-size: 1.2rem;
  background: linear-gradient(135deg,hsl(0,80%,86%), hsl(0,74%, 74%));
}

.submit-btn:hover{
  background: linear-gradient(135deg, hsla(0,80%,86%,0.4), hsla(0,74%, 74%,0.7));
  cursor: pointer;
}

footer{
  text-align: center;
  font-size: 1.1rem;
}

.attribution a{
  color: var(--desaturated-red);
}
.attribution a:hover{
  color: var(--soft-red);
}