@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

/* Reset */

:root{
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red : hsl(0, 93%, 68%);
  --dark-grayish-red : hsl(0, 6%, 24%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a{
  text-decoration: none;
}

html{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

/* Body */

body{
  max-width: 90rem;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  min-height: 100vh;
}

.desktop-logo, .desktop-img{
  display: none;
}

.mobile-header{
  
  width: 12rem;
  padding: 1rem 2rem;
}


main{
  display: flex;
  flex-direction: column;
}

.text-container{
  padding: 1.6rem;
  text-align: center;
}

.highlight{
  font-weight: 300;
  color: var(--desaturated-red);
}

.big-header{
  margin: 2rem auto;
  letter-spacing: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.8rem;
}

.text-container p{
  margin-bottom: 2rem;
  font-size: 0.95rem;
  line-height: 1.5;
  color: var(--desaturated-red);
}

/* Form */
.form{
  width: 100%;
  position: relative;
}

form input{
  background-color: transparent;
  position: relative;
  width: 100%;
  font-size: 1.1rem;
  border: 1px solid var(--desaturated-red);
  border-radius: 1.5rem;
  padding: 0.75rem 1.5rem;
  outline: none;
}

::placeholder{
  color: var(--desaturated-red);
}

small{
  margin:0.6rem 1.2rem;
  display: block;
  text-align: start;
  color: var(--soft-red);
  visibility: hidden;
}

.exclamation-icon{
  width: 1.4rem;
  position: absolute;
  top:0.75rem;
  right: 5rem;
  visibility: hidden;
}

.form-control.error input{
  border-color: var(--soft-red);
}

.form-control.error small,
.form-control.error .exclamation-icon{
  visibility: visible;
}

.form-control.success input{
  border-color: #2ecc71 ;
}

/* Form button */
.submit-btn{
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding: 0.9rem 1.8rem;
  border-radius: 1.8rem;
  font-size: 1.2rem;
  background: linear-gradient(135deg,hsl(0,80%,86%), hsl(0,74%, 74%));
}

.submit-btn:hover{
  background: linear-gradient(135deg, hsla(0,80%,86%,0.4), hsla(0,74%, 74%,0.7));
  cursor: pointer;
}

footer{
  text-align: center;
  font-size: 1.1rem;
}

.attribution a{
  color: var(--desaturated-red);
}
.attribution a:hover{
  color: var(--soft-red);
}

@media (min-width: 30rem) and (max-width: 48rem){
  .image-container img{
    width: 100%;
  }

  .text-container{
    width: 80%;
    margin: auto;
  }

  .big-header{
    width: 50%;
  }

  .form{
    margin: auto;
    width: 80%;
  }

}

@media(min-width: 48rem){

  body{
    margin: auto;
    background: url(./images/bg-pattern-desktop.svg) no-repeat center/cover;
  }
  .mobile-header{
    display: none;
  }

  .mobile-img{
    display: none;
  }

  .desktop-img,.desktop-logo{
    display: block;
  }

  .desktop-img{
    height: 100%;
  }

  main{
    margin-bottom: 2rem;
    min-height: 94vh;
    flex-direction: row-reverse;
  }

  .image-container{
    width: 90%;
  }

  .desktop-logo{
    margin: 5rem 0 8rem ;
  }
  .desktop-logo img{
    width: 15rem;
  }
  .text-container{
    padding-left: 10rem;
    text-align: start;
  }

  .big-header{
    margin: 3rem 0 1rem;
    font-size:4rem;
    width: 50%;
  }

  .text-container p{
    width: 80%;
    line-height: 1.8;
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }

  .form{
    width: 80%;
  }

  .submit-btn{
    padding: 0.8rem 3rem;
  }

  .exclamation-icon{
    right: 7rem;
  }
}