/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* Variable declaration */
:root{
  --light-gray: hsl(212,45%,89%);
  --grayish-blue: hsl(220,15%,55%);
  --dark-blue: hsl(218,44%, 22%);
}

/* reset */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img{
  width: 90%;
}

/* styles */

body{
  position: relative;
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  background-color: var(--light-gray);
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-container{
  width: 90%;
  background-color: #fff;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.2rem;
}

.flex-container img{
  margin: 1rem 0 1rem;
  border-radius: 1rem;
  
}

.qr-description{
  padding: 1.5rem;
  margin: 0 auto 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.qr-header{
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  color: var(--dark-blue);
  text-align:center;
}

.qr-text{
  text-align: center;
  color: var(--grayish-blue);
  font-size: 1rem;
}

.footer-container{
  font-size: 1rem;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-container a{
  text-decoration: none;
  color: rgb(0, 93, 214);
}

.footer-container a:hover{
  color: var(--grayish-blue);
}

@media (min-width: 768px){
  .qr-description{
    width: 90%;
    margin-bottom: 1rem;
  }

  .qr-header{
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .qr-text{
    font-size: 1.2rem;
  }
}