@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root{
  --very-dark-magenta : hsl(300, 43%, 22%);
  --soft-pink : hsl(333, 80%, 67%);
  --dark-grayish-magenta : hsl(303, 10%, 53%);
  --light-grayish-magenta : hsl(300, 24%, 96%);
}
/* Reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a{
  text-decoration: none;
}

html{
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;
}

body{
  max-width: 93.33rem;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main{
  margin: 3rem auto;
}

.left-container{
  text-align: center;
  margin-bottom: 2rem;
}

.left-container h1{
  line-height: 0.8;
  margin: auto;
  width: 60%;
  color: var(--very-dark-magenta);
  margin-bottom: 1.5rem;
}

.left-container p{
  color: var(--dark-grayish-magenta);
  font-weight: 500;
  font-size: 1.1rem;
}

/* Right Container */
.right-container{
  margin-bottom: 2.5rem;
  color: var(--very-dark-magenta);
  font-weight: 700;
}


.review{
  padding: 0.75rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-grayish-magenta);
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}

.star-container{
  display: flex;
  margin-bottom: 0.75rem;
}

.star-container img{
  margin: 0 0.2rem;
}

/* Lower Container */

.profile{
  background-color: var(--very-dark-magenta);
  margin: 1rem 0;
  padding: 2rem;
  color: #fff;
  border-radius: 0.5rem;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.1rem;
}

/* profile container */

.user-container{
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.user-container img{
  display: block;
  border-radius: 50%;
  width: 2.6rem;
  margin-right: 1rem;
}

.name{
  font-weight: 700;
}

.verified{
  font-weight: 400;
  color: var(--soft-pink);
  display: block;
}

/* Footer */
footer{
  text-align: center;
  font-size: 1.2rem;
}

.attribution a{
  color: var(--very-dark-magenta);
}

.attribution a:hover{
  color: var(--soft-pink);
}