@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root{
  --very-dark-magenta : hsl(300, 43%, 22%);
  --soft-pink : hsl(333, 80%, 67%);
  --dark-grayish-magenta : hsl(303, 10%, 53%);
  --light-grayish-magenta : hsl(300, 24%, 96%);
}
/* Reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a{
  text-decoration: none;
}

html{
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;
}

body{
  max-width: 93.33rem;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main{
  margin: 3rem auto;
}

.left-container{
  text-align: center;
  margin: 0rem auto 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header{
  padding: 0 1.8rem;
  line-height: 0.8;
  color: var(--very-dark-magenta);
  margin-bottom: 1.5rem;
}

.left-container p{
  width: 90%;
  color: var(--dark-grayish-magenta);
  font-weight: 500;
  font-size: 1.1rem;
}

/* Right Container */
.right-container{
  margin-bottom: 2.5rem;
  color: var(--very-dark-magenta);
  font-weight: 700;
}


.review{
  padding: 0.75rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-grayish-magenta);
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}

.star-container{
  display: flex;
  margin-bottom: 0.75rem;
}

.star-container img{
  margin: 0 0.2rem;
}

/* Lower Container */

.profile{
  background-color: var(--very-dark-magenta);
  margin: 1rem 0;
  padding: 2rem;
  color: #fff;
  border-radius: 0.5rem;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.1rem;
}

/* profile container */

.user-container{
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.user-container img{
  display: block;
  border-radius: 50%;
  width: 2.6rem;
  margin-right: 1rem;
}

.name{
  font-weight: 700;
}

.verified{
  font-weight: 400;
  color: var(--soft-pink);
  display: block;
}

/* Footer */
footer{
  text-align: center;
  font-size: 1.2rem;
}

.attribution a{
  color: var(--very-dark-magenta);
}

.attribution a:hover{
  color: var(--soft-pink);
}

@media (min-width: 600px) and (max-width: 960px){

  .left-container p{
    margin: auto;
    width: 60%;
  }
  .main-header{
    font-size: 2.2rem;
  }

  .review{
    margin: 1rem auto;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    width: 32rem;
  }

  .star-container{
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .profile{
    margin:2rem auto;
    width: 32rem;
  }
}

@media (min-width: 960px){
  body{
    margin: 3rem auto;
  }

  main{
    max-width: 80rem;
    margin-bottom: 8rem;
  }
  .upper-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    margin-bottom: 3rem;
  }
  .left-container{
    padding-right:10rem ;
    align-items: flex-start;
    text-align: start;
  }

  .main-header{
    padding: 0;
    font-size: 4rem;
  }

  .left-container p{
    font-size: 1.2rem;
  }

  .right-container{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
  }

  .review{
    flex-direction: row;
    padding: 1rem;
    width: 26rem;
  }

  .star-container{
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .review:nth-of-type(2){
    align-self: center;
  }

  .review:nth-of-type(3){
    align-self: flex-end;
  }

  .lower-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1.5rem;
  }

  .profile{
    padding: 2rem;
    /* margin: 0 1rem; */
  }

  .profile:nth-of-type(2){
    transform: translateY(1.5rem);
  }

  .profile:nth-of-type(3){
    transform: translateY(3rem);
  }

  footer{
    margin-top: 4rem;
  }

}