@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

:root{
  --desat-grayish-blue : #666CA3;
  --dark-blue : #13183F;
  --gray : #83869A;
  --neon-blue: #F74780;
  --soft-pink : #FFA7C3;
  --button-main-bottom :#F02AA6;
  --button-main-top: #FF6F48;
  --button-sub-bottom: #F02AA6;
  --button-sub-top: #4851FF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a{
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

html{
  font-size: 16px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body{
  background: linear-gradient(#fff,#f0f1ff);
  padding-top: 1rem;
  /* max-width: 90rem; */
  margin: auto;
}

header,main{
  padding: 0 1rem;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

header .logo, footer .logo{
  width: 5.5625rem;
}

.start{
  font-weight: 700;
  font-size: 1rem;
  background-color: var(--dark-blue);
  color: #fff;
  border: none;
  width: 8.75rem;
  height: 3rem;
  border-radius: 1.75rem;
}

.start:hover{
  cursor: pointer;
  background-color: var(--desat-grayish-blue);
}

.text-data h1{
  color: var(--dark-blue);
  font-size: 2.5rem;
  margin-bottom: 1.625rem;
}

.text-data p{
  color: var(--gray);
  margin-bottom: 1.5rem;
}

.text-data button{
  font-weight: 700;
  margin-bottom: 2.8rem;
  border-radius: 1.96875rem;
  width: 10.4375rem;
  height: 3.5rem;
  color: #fff;
  border: none;
  background:linear-gradient(to bottom, var(--button-main-top), var(--button-main-bottom));
}

.tablet-hero, .desktop-hero{
  display: none;
}

.text-data button:hover{
  cursor: pointer;
  background: linear-gradient(to bottom,#ff9a7e,#ff77cd);;
} 

/* Main - grid container */

.main-body{
  margin: 4rem 0;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.5rem;
}

.color-card{
  font-size: 1.5rem;
  font-weight: 800;
  color:#fff;
  border-radius: 0.625rem;
  background: linear-gradient(to bottom,var(--button-main-top), var(--button-main-bottom));
  padding: 1.5rem 1.75rem 2rem;
}

.card-container{
  background-color: #fff;
  border-radius: 0.625rem;
  box-shadow: 0 50px 25px hsla(0, 0%, 0%, 0.042);
  padding: 3.5rem 1.75rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.card-logo{
  margin-top: -4.6rem;
}

.card-title{
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--dark-blue);
}

.card-text{
  color: var(--gray);
}

.learn-more{
  margin-top: 1rem;
  color: var(--neon-blue);
  font-weight: 800;
}

.learn-more:hover{
  color: hsl(341, 100%, 83%);
}



/* Footer */
footer{
  padding: 2.25rem 1rem;
  background-color: var(--dark-blue);
}
.main-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .start{
  background: linear-gradient(to bottom,var(--button-sub-top), var(--button-sub-bottom));
}

footer .start:hover{
  background:linear-gradient(to bottom,#8e94ff, #ff77cd);
}

.attribution{
  text-align: center;
  font-size: 1rem;
  background-color: #13183F;
  color: #fff;
}

.attribution a{
  color: #F02AA6;
}

.attribution a:hover{
  color: #FF6F48;
}

/* Tablet media query */
@media (min-width : 26.625rem) and (max-width:48rem){

  body{
    padding-top: 1.5rem;
  }

  header,main{
    padding: 0 2.5rem;
  }

  nav button{
    z-index: 2;
  }

  .information{
    display: flex;
    align-items: center;
  }

  .mobile-hero,.desktop-hero{
    display: none;
  }

  .tablet-hero{
    display: block;
  }

  .human-image{
    margin-top: -12rem;
    margin-right: -19rem;
  }

  .main-body{
    grid-template-columns: repeat(2,1fr);
    column-gap: 0.75rem;
    row-gap: 3.5rem;
  }

  .color-card{
    padding-top: 3.5rem;
  }

  footer{
    padding: 2.25rem 2.5rem;
  }
}


/* Pc Sizes */

@media(min-width: 48.0625rem){
  header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav{
    width: 100%;
    max-width: 69.375rem;
  }

  nav button{
    z-index: 2;
  }

  .information{
    max-width: 69.375rem;
    display: flex;
    align-items: center;
  }

  .text-data h1{
    font-size: 3.5rem;
  }

  .text-data p{
    width: 27.8125rem;
    font-size: 1.125rem;
  }

  .text-data button{
    font-size: 1.125rem;
    height: 4rem;
  }

  .human-image{
    margin-right: -32rem;
    margin-top: -16rem;
  }

  .tablet-hero,.mobile-hero{
    display: none;
  }

  .desktop-hero{
    display: block;
  }

  main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-body{
    grid-template-columns: repeat(3,1fr);
    column-gap: 1.75rem;
    row-gap: 5rem;
    max-width: 69.375rem;
  }

  .card-container{
    gap: 1.5rem;
  }

  .card-title{
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .learn-more{
    font-size: 1.125rem;
  }

  .card-text{
    font-size: 1.125rem;
  }

  .color-card{
    font-size: 2rem;
    padding-top: 2.5rem;
  }

  .main-footer{
    margin: auto;
    max-width: 69.375rem;
  }
}