@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root{
  --pink : hsl(322, 100%, 66%);
  --very-pale-cyan : hsl(193, 100%, 96%);
  --very-dark-cyan : hsl(192, 100%, 9%);
  --grayish-blue : hsl(208, 11%, 55%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

input, button, textarea, select {
  font: inherit;
}

html{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}


/* Header nav  */

.header{
  padding: 1rem 0.889rem;
  margin-bottom: 1rem;
  background-color: var(--very-pale-cyan);
  background-image: url(./images/bg-hero-mobile.svg);
}

.header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.889rem;
}

.header__logo{
  width: 5.778rem;
}

.header__cta--button{
  font-size: 0.6rem;
  font-weight: 700;
  padding: 0.25rem 1.1rem;
  border-radius: 0.667rem;
  border: none;
  box-shadow: 0 2px 7px rgba(0,0,0,0.25);
  background-color: #fff;
}

.header__cta--button:hover{
  cursor: pointer;
  color: #808E9A;
}

.header__textbox{
  padding: 1.2rem;
  text-align: center;
}

.header__textbox h1{
  margin-bottom: 1.2rem;
  font-size: 1.333rem;
}

.header__textbox p{
  font-size: 0.889rem;
  margin-bottom: 1.5rem;
}

.cta--start{
  font-size: 0.8rem;
  font-weight: 700;
  border: none;
  color: #fff;
  background-color: var(--pink);
  padding: 0.65rem 2.5rem;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
}

.cta--start:is(:hover,:focus){
  cursor: pointer;
  background-color: hsl(321,100%,80%);
}

main{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-container{
  border-radius: 0.889rem;
  box-shadow: 0 1px 2px rgba(0,0,0,15%);
  padding:1.33rem 2.22rem;
  text-align: center;
  margin: 2.22rem 1.11rem;
}

.bold-title{
  margin: 1rem 0;
  font-weight: 700;
}

.container-image{
  height: 14.22rem;
  width: 14.22rem;
}

.dt-text{
  font-size: 0.778rem;
  line-height: 1.5;
  color: var(--grayish-blue);
}

.abs-cta{
  box-shadow: 0 0 14px rgba(0,0,0,0.1);
  margin: 0 ;
  min-width: 19.556rem;
  background-color: #fff;
  padding: 2rem 0.667rem;
  position: absolute;
  bottom: -17rem;
}

.abs-cta p{
  margin-top: 0;
}

.abs-cta button{
  margin: 0.5rem 0;
}

/* Footer Site */

.site-footer{
  margin-top: 12.722rem;
  padding: 7.722rem 0.889rem 2rem;
  background-color: var(--very-dark-cyan);
  color: #fff;
}

.container-a{
  margin-bottom: 2rem;
}

.footer__logo{
  width: 9.33rem;
  margin-bottom: 1rem;
  filter: brightness(0)invert(1);
}

.flex-divide{
  margin-bottom: 1rem;
  display: flex;
  font-size: 0.778rem;
}

.icon-display{
  width: 1rem;
  height: 1rem;
  margin-right: 1.333rem;
}

.container-b p,.container-c p{
  margin-bottom: 0.889rem;
}

.self-links{
  color: #fff;
}

.self-links:is(:hover,:active){
  border-bottom: 1px solid #fff;
}

.social-icons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin: 0 0.3rem;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
}

.social-icon:is(:hover,:active){
  border: 1px solid var(--pink);
  color: var(--pink);
}

.copyright{
  text-align: center;
  margin-top: 0.889rem;
  font-size: 0.639rem;
}

/* Attribution */

.attribution{
  background-color: var(--very-dark-cyan);
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}

.attribution a{
  color: var(--pink);
}

.attribution a:hover{
  color: hsl(321,100%,80%);
}