@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root{
  --pink : hsl(322, 100%, 66%);
  --very-pale-cyan : hsl(193, 100%, 96%);
  --very-dark-cyan : hsl(192, 100%, 9%);
  --grayish-blue : hsl(208, 11%, 55%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

input, button, textarea, select {
  font: inherit;
}

html{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}


/* Header nav  */

.header{
  padding: 1rem 0.889rem;
  margin-bottom: 1rem;
  background-color: var(--very-pale-cyan);
  background-image: url(./images/bg-hero-mobile.svg);
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header,.site-footer{
  width: 100%;
}

.header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.889rem;
}

.header__logo{
  width: 5.778rem;
}

.header__cta--button{
  font-size: 0.65rem;
  font-weight: 700;
  padding: 0.3rem 1.1rem;
  border-radius: 0.667rem;
  border: none;
  box-shadow: 0 2px 7px rgba(0,0,0,0.25);
  background-color: #fff;
}

.header__cta--button:hover{
  cursor: pointer;
  color: #808E9A;
}

.header__textbox{
  color: var(--very-dark-cyan);
  padding: 1.2rem;
  text-align: center;
}

.header__textbox h1{
  margin-bottom: 1.2rem;
  font-size: 1.333rem;
}

.header__textbox p{
  font-size: 0.889rem;
  margin-bottom: 1.5rem;
}

.cta--start{
  font-size: 0.8rem;
  font-weight: 700;
  border: none;
  color: #fff;
  background-color: var(--pink);
  padding: 0.65rem 2.5rem;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
}

.cta--start:is(:hover,:focus){
  cursor: pointer;
  background-color: hsl(321,100%,80%);
}

main{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-container{
  border-radius: 0.889rem;
  box-shadow: 0 1px 2px rgba(0,0,0,15%);
  padding:1.33rem 2.22rem;
  text-align: center;
  margin: 2.22rem 1.11rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.bold-title{
  margin: 1rem 0;
  font-weight: 700;
}

.container-image{
  height: 14.22rem;
  width: 14.22rem;
}

.dt-para{
  font-size: 0.78rem;
  line-height: 1.5;
  color: var(--grayish-blue);
}

.abs-cta{
  box-shadow: 0 0 14px rgba(0,0,0,0.1);
  margin: 0 ;
  min-width: 19.556rem;
  background-color: #fff;
  padding: 2rem 0.667rem;
  position: absolute;
  bottom: -17rem;
}

.abs-cta p{
  margin-top: 0;
}

.abs-cta button{
  margin: 0.5rem 0;
}

/* Footer Site */

.site-footer{
  margin-top: 12.722rem;
  padding: 7.722rem 0.889rem 2rem;
  background-color: var(--very-dark-cyan);
  color: #fff;
}

.container-a{
  margin-bottom: 2rem;
}

.footer__logo{
  width: 9.33rem;
  margin-bottom: 1rem;
  filter: brightness(0)invert(1);
}

.flex-divide{
  margin-bottom: 1rem;
  display: flex;
  font-size: 0.778rem;
}

.icon-display{
  width: 1rem;
  height: 1rem;
  margin-right: 1.333rem;
}

.container-b p,.container-c p{
  margin-bottom: 0.889rem;
}

.self-links{
  color: #fff;
}

.self-links:is(:hover,:active){
  border-bottom: 1px solid #fff;
}

.social-icons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin: 0 0.3rem;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
}

.social-icon:is(:hover,:active){
  border: 1px solid var(--pink);
  color: var(--pink);
}

.copyright{
  text-align: center;
  margin-top: 0.889rem;
  font-size: 0.639rem;
}

/* Attribution */

.attribution{
  background-color: var(--very-dark-cyan);
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}

.attribution a{
  color: var(--pink);
}

.attribution a:hover{
  color: hsl(321,100%,80%);
}


/* Media queries */

@media(min-width: 48rem){
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header nav{
    width: 98%;
  }
  .header nav,.header__textbox{
    max-width: 71.11rem;
  }

  .header__logo{
    width: 11.11rem;
  }

  .header__cta--button{
    font-size: 0.778rem;
    padding: 0.5rem 2.5rem;
    border-radius: 1.5rem;
  }

  .header__textbox{
    display: flex;
    align-items: center;
  }

  .header__textbox > * {
    flex-basis: 100%;
  }

  .textbox{
    text-align: start;
    padding-right: 7rem;
  }

  .textbox h1{
    font-size: 2.222rem;
  }

  .textbox p{
    font-size: 1rem;
  }

  main{
    max-width: 68.44rem;
  }

  .data-container{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
  }

  .reversed-container{
    padding-left: 6.667;
    flex-direction: row-reverse;
  }

  .dt-text{
    padding-left: 6.667rem;
    width: 45%;
    text-align: start;
  }

  .dt-text .bold-title{
    font-size: 1.556rem;
  }

  .dt-text p{
    font-size: 1rem;
  }

  .container-image{
    width: 20.44rem;
    height: 20.44rem;
  }

  .abs-cta{
    max-width: 44.44rem;
    flex-direction: column;
    padding: 3.33rem 7.33rem;
  }

  .abs-cta .bold-title{
    font-size: 1.778rem;
  }

  .abs-cta .cta--start{
    border-radius: 2.22rem;
    padding: 1.1rem;
    font-size: 1.112rem;
    width: 22.22rem;
  }
  .site-footer{
    width: 100%;
  }
  .max-width{
    margin: auto;
    max-width: 69rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }

  .container-b,
  .container-c{
    align-self: center;
    justify-self: center;
  }

  .container-d{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .attribution{
    width: 100%;
    font-size: 1rem;
    padding-bottom: 1rem;
  }
}